<div>
    <label>
        Title:
        <input type="text" name="title" value="<%= book.title %>">
    </label>
</div>
<div>
    <label>
        Authors:
        <select name="author">
            <% authors.forEach(author=> { %>
                <% if(author.id===book.author){ %>
                    <option selected label="<%= author.name %>" value="<%= author.id %>">
                        <!-- label gets displayed in teh select drop down -->
                        <% return; } %>
                            <% else{ %>
                    <option label="<%= author.name %>" value="<%= author.id %>">
                        <% }}); %>
        </select>
    </label>
</div>
<div>
    <label>
        Publish Date:

        <!-- value: publish date is not in format of date so you need to convert it to the format of date -->
        <!-- value=" book.publishDate "-->
        <input type="date" name="publishDate"
            value="<%= book.publishDate == null? '':book.publishDate.toISOString().split('T')[0]%>">
        <!-- 2019-08-11T12:23 -->
        <!-- value is what will be show to the user after submit button -->

    </label>
</div>
<div>
    <label>
        Page Count:
        <input type="number" name="pages" min="1" value="<%= book.pages %>">
    </label>
</div>
<div>
    <label>
        Description:
        <textarea name="description" cols="30" rows="10">
            <%= book.description %>
        </textarea>
    </label>
</div>
<div>
    <label>
        Cover Image:
        <input type="file" name="cover">
        <!-- File input does not allow value to be set -->
    </label>
</div>